.img1 {
  background: url('/assets/20240216_110311.jpg');
  transition: 0.5s ease;
  transition-delay: 0.25s;
  max-width: 300px;
  max-height: 200px;
}

.img1:hover {
  background: url('/assets/20240216_151755.jpg');
}
