// body {
//   margin: 0px;
//   padding: 0px;
//   font-family: "Courier Prime", monospace;
//   background-color: #fdfdfe;
// }
// header {
//   width: 100%;
//   height: 100vh;
//   display: flex;
//   justify-content: center;
//   align-items: center;
//   margin: 0;
// }
p {
  font-size: 70px;
  font-weight: 500;
  // color: #553c9a;
  // border-right: 4px solid #000;
  animation: typing 6s;
  white-space: nowrap;
  overflow: hidden;
  animation-fill-mode: forwards;
  // text-align: center;
  // animation-iteration-count: 1;
  // width: 100%;
  // height: 100vh;
  display: flex;
  // justify-content: center;
  // align-items: center;
  // margin: 0;
}
@keyframes typing{
  0%{ width: 0ch;} /*Text is hidden*/
  100%{ width: 100ch;} /*The entire header will be typed out*/
}
